<div class='show-heading'><%= @question.title %></div><br>

<div class='show'>
  <%= @question.description %><p>
    <% if @question.user == current_user %>
      <%= link_to 'Edit Question', edit_question_path(@question) %> ||
      <%= link_to 'Delete Question',
          question_path(@question),
          method: :delete,
          data: { confirm: 'Are you sure?'}
      %></p>
    <% end %>

  <% if @answers.any? %>
    <div class='show-heading'><%= "Answers" %> </div>
    <% @answers.each do |answer| %>
      <li><%= answer.description %></li>
      <ul><%= "Answered by: #{answer.user.email}" %></ul>
    <% end %>
  <% end %><p><br>

  <div class='form'>
    <div class='new-answer-heading'>
      <%= 'Submit New Answer:' %>
    </div>

  <%= form_for [@question, @answer] do |f| %>
    <div class="field">
      <%= f.text_field :description, class: 'form-labels' %>
    <div class="actions">
      <%= f.submit "Submit Answer", :class => "form-buttons" %>
    </div>
  <% end %>
  </div>
</div>
